<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="height: 700px;">
<div class="px-4 py-5 my-5 text-center">
<%= image_tag "linkedin_profile_image.png", class: "d-block mx-auto mb-4", alt: "", width: 150, height: 150 %>
<h1 class="display-5 fw-bold" style="color: #6C1E25;">My Sommelier</h1>
<div class="col-lg-6 mx-auto">
  <p class="lead mb-4" style="color: #6C1E25;">自分の好きなワインからワインを深めるアプリ.</p>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <button type="button" class="btn btn-secondary btn-lg px-4 me-sm-3">診断を始める</button>
  </div>
</div>
</div>

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">自分の好きなワインタイプを診断。 <span class="text-muted">自分のタイプワインをきっかけにワインの世界を深める</span></h2>
      <p class="lead">ワイン診断から自分の好きなワインタイプを知ろう。そのタイプに当てはまるワインをきっかけに、ワインの世界を広げよう</p>
    </div>
    <div class="col-md-5">
    <%= image_tag "wine1.jpeg", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", width: "500", height: "500", alt: "Wine Image" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">色合い、香り、味わい、ボディ。<span class="text-muted">ワインの違いを楽しもう</span></h2>
      <p class="lead">ワインの要素となる違いを把握し、自分で好きなワインが選べるようになる</p>
    </div>
    <div class="col-md-5 order-md-1">
    <%= image_tag "wine2.jpeg", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", width: "500", height: "500", alt: "Wine Image" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">好きなシーンに合わせて今日のワインを選ぼう<span class="text-muted">.</span></h2>
      <p class="lead">好みだけでなく、飲むシーンによって合うワインは変わるもの。今日はどんなワインにしますか？</p>
    </div>
    <div class="col-md-5">
    <%= image_tag "wine3.jpeg", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", width: "500", height: "500", alt: "Wine Image" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->