<footer style="background-color: #A3192E;">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="text-white" href="#">Home</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active text-white" aria-current="page" href="top.html">利用規約</a>
        <a class="nav-link text-white" href="about.html">プライバシーポリシー</a>
        <a class="nav-link text-white" href="course.html">お問合せ</a>
      </div>
    </div>
  </div>
</nav>
</footer>