/* 背景色 */
.bg-color-1 {
  background-color: #6C1E25 !important;
}

.bg-color-2 {
  background-color: #A3192E;
}

.bg-color-3 {
  background-color: #D3314C;
}

/* 6C1E25の10% */
.bg-color-4 {
  background-color: rgba(108, 30, 37, 0.1); /* 10%の透明度を持つ6C1E25 */
}

/* 文字色 */
.text-color-1 {
  color: #6C1E25;
}

.text-color-2 {
  color: #828282;
}
